* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: var(--text-md);
  font-weight: 400;
  color: var(--primary-color);
  background: var(--bg-color);
}